body {
  margin: 0;
  min-width: 1500px;
  font-family: 'Noto', Tahoma, Geneva, Verdana, sans-serif
}


h1 {  
  color: black;
}

h3 {
  margin-bottom: 0;
  font-weight: 400;
}


ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  background-color: black;
}

li > a {
  color: white;
  text-decoration: none;
}

section {
  width: 400px;
}

input[type="text"] {
  width: auto;
  height: 30px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

button {
  border: 0;
  background: 0;
  cursor: pointer;
}

footer {
  background-color: black;
  color: white;
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}

#menu > button span {
  color: lightgray;
  font-size: 20px;
}

#menu > button:hover span {
  color: black;
}

.oi-chevron-top, .oi-chevron-bottom {
  font-size: 20px;
  color: white;
}

.oi-x {
  color: black;
}

.oi-check {
  color: black;
  font-size: 25px;
}

.color {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.list > header {
  background-color: black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.list-body {
  height: 100%;
}

.kanban-card {
  background-color: #2196F3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.kanban-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.ui-dialog-titlebar {
  background:#F44336;
  color: white;
  padding: 5px;
}

.ui-dialog-content {
  padding: 5px;
}


#red {
  background: #F44336;
}

#blue {
  background: #2196F3;
}

#green {
  background: #4CAF50;
}

#yellow {
  background: #FFEB3B;
}