body {
  margin: 0;
  min-width: 1500px;
  font-family: 'Noto', Tahoma, Geneva, Verdana, sans-serif
}


h1 {  
  color: black;
  margin: 0;
}

h3 {
  color: white;
  margin-bottom: 0;
  font-weight: 400;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  width: 400px;
}

input.add-card {
  width: 100%;
  height: 30px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #2196F3;
}

input.add-deadline {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  background: 0;
}

button {
  border: 0;
  background: 0;
  cursor: pointer;
}

footer {
  background-color: black;
  color: white;
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}

a {
  color: lightgrey;
}

a:hover {
  color: black;
}

#menu > button span {
  color: lightgray;
  font-size: 20px;
}

#menu > button:hover span {
  color: black;
}

.oi-menu {
  font-size: 20px;
}

.oi-chevron-top, .oi-chevron-bottom {
  font-size: 20px;
  color: white;
}

.oi-x, .oi-calendar {
  color: black;
}

.oi-check {
  color: black;
  font-size: 25px;
}

.color {
  height: 50px;
  width: 50px;
  margin-top: 5px;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.list > header {
  padding: 5px;
  background-color: black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.list-body {
  height: 100%;
}

.kanban-card {
  padding: 5px;
  background-color: #2196F3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.ui-dialog {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.ui-dialog-titlebar {
  background:#F44336;
  color: white;
  padding: 5px;
}

.ui-dialog-content {
  padding: 5px;
}

.ui-datepicker {
  background-color: white;
}

.deletebutton {
  margin-bottom: 2px;
}

.deadline {
  color: white;
  border: 0;
  background: 0;
}